{% extends "bootstrap/base.html" %}

{% block html_atribs %}
    lang='en'
{% endblock %}

{% block title %}
    S3 Object List
{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
  <div class="container">
      <div class="row">
          <div class="col-12-xs">
              <form class="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                <h5><input type="file" name="file" required></h5>
                <button type="submit" name="submit" class="btn btn-success">Subir</button>
              </form>
              <h3>Bucket Info</h3>
              <p>Created: {{ my_bucket.creation_date }}</p>
              <hr>
              {% for file in files %}
                {{ file.key }}
                <br>
                {{ file.last_modified }}
              {% endfor %}
          </div>
      </div>
  </div>
{% endblock %}