{% extends "base/index.html" %}

{% block html_atribs %}
    lang='en'
{% endblock %}

{% block title %}
    S3 Object List
{% endblock %}

{% block js%}
  <script src="{{url_for('static',filename='js/upload_file.js') }}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  {% endblock %}



{% block content %}
  <div class="container">
      <div class="row">
          <div class="col">
            <h3>Arhivos</h3>
        
              <hr>
              <table class="table table-striped">
                <tr>
                  <th>Documento</th>
                  <th>Subido</th>
                  <th>Borrar</th>
                </tr>
                {% for f in files %}
                <tr>
                  <td>{{ f.key }}</td>
                  <td>{{ f.last_modified | dateformat }}</td>
                  <td> <img id="{{ f.key }}" alt='Submit' src="{{ url_for('static',filename='img/eliminar-icono.png') }}"> </td>
                </tr>
                {% endfor %}
              </table>
              <form class="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                <span class="label label-info text-info p-1" id="fileinfo"></span>
                <h5><input type="file" id="files" name="file[]" required multiple=""></h5>
                <input type="text" id="id" name="id" hidden>
                <hr>
                <button id="home" class="btn btn-info">Regresar</button>
                <button type="submit" name="submit" class="btn btn-success">Subir</button>
                <button class="btn btn-large btn-primary " ><a class="text-white" href="/tablas">Analizar</a> </button>
              </form>
              
          </div>
      </div>
  </div>
{% endblock %}