{% extends "base/index.html" %}

{% block js%}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr><hr><hr><hr><hr><hr><hr>
            <button class="btn btn-large btn-secondary" ><a class="text-white" href="/files">Upload</a> </button>
        </div>
    </div>
</div>

{% endblock %}