{% extends "base/index.html" %}

{% block js%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  {% endblock %}


{% block content %}
<div class="container-fluid ">
    <div class="row ">
        <div class="col-2 p-3"></div>
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <img src="{{ url_for('static',filename='img/BBVA-ilustracion.png') }}" style="width: 100%;">
                </div>
                <div class="col " style="width: 100%;">
                    <br><br><br><br>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h5 class="d-block">Interpretador inteligente</h5>
                            <h5 class="d-block">G.E.T.</h5>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p style="text-align: center/left/right;">
                                La plataforma ofrece la posibilidad de cargar uno o varios archivos en .
                            </p>                        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-large btn-primary btn-block" ><a class="text-white" href="/files">Subir archivos</a> </button>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}